.myBackground {
    width:100vw;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(132,250,142);
    background: linear-gradient(333deg, rgba(132,250,142,0.710504270067402) 0%, rgba(6,170,19,0.8477591720281863) 50%, rgba(21,94,27,1) 100%); 
}
.whiteBox{
    background-color: white;
    padding: 20px;
    min-width: 300px;
    height: 70%;
    width: 25%;
    border: 1px solid rgba(0, 0, 0, 0.268);
}
.itemBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: red;
    height: 100px;
}
.title {
    font-size: 30px;
    font-weight: bold;
    color: black;
    text-align: center;
}
.myForm {
    width: 100%;
}


.container {
    display: 'flex';
    justify-content: 'center';
    margin-top: 20px;
    text-align: center;
}
 .container h1 {
    margin-right: 5%;
 }